<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanzible.teacherfinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lerningActivity.teacherHigher.TeacherHigherDetailActivity"></activity>
        <activity android:name=".lerningActivity.teacherGraduation.TeacherGraduationDetailActivity" />
        <activity android:name=".lerningActivity.teacherSecondary.TeacherSecondaryDetailActivity" />
        <activity android:name=".teachngActivity.masterPrimary.Master_PrimaryDetailActivity" />
        <activity android:name=".teachngActivity.masterGraduation.Master_GraduationActivity" />
        <activity android:name=".teachngActivity.masterHigher.Master_HigherActivity" />
        <activity android:name=".teachngActivity.masterSecondry.Master_SecondryActivity" />
        <activity android:name=".teachngActivity.masterPrimary.Master_PrimaryActivity" />
        <activity android:name=".lerningActivity.teacherPrimary.TeacherPrimaryDetailActivity" />
        <activity android:name=".lerningActivity.LearningEditProfile" />
        <activity android:name=".teachngActivity.TeachingMyAccount" />
        <activity android:name=".lerningActivity.LearingLogIn" />
        <activity android:name=".lerningActivity.LearningMyAccount" />
        <activity android:name=".lerningActivity.LearningGraduationActivity" />
        <activity android:name=".lerningActivity.LearningHigherActivity" />
        <activity android:name=".lerningActivity.LearningSecondaryActivity" />
        <activity android:name=".lerningActivity.LearningPrimaryActivity" />
        <activity android:name=".lerningActivity.LearningDashboard" />
        <activity android:name=".teachngActivity.TeachingDashboard" />
        <activity android:name=".lerningActivity.LearningRegistration" />
        <activity android:name=".activity.GraduationAcitvity" />
        <activity android:name=".activity.HigherActivity" />
        <activity android:name=".activity.SecondaryActivity" />
        <activity android:name=".activity.PrimaryActivity" />
        <activity android:name=".activity.DashboardActivity" />
        <activity android:name=".activity.LogInActivity" />
        <activity android:name=".teachngActivity.TeachingRegistration" />
        <activity android:name=".activity.DrawerActivity" />
        <activity android:name=".activity.OpenActivity" />
        <activity android:name=".activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>